a.card {
	$hover-animation-time: .5s;
	$height-animation-time: .25s;

	/* Sobrescreve as propriedades herdadas do elemento <a> */
	display: block;
	color: $text-color;
	text-decoration: none;

	@extend .simple-shadow;

	position: relative;
	width: 100%;
	
	height: 400px;
	@media (min-width: $screen-sm-min) {
		height: 400px;
	}

	max-height: 430px;
	background-color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: hidden;

	-webkit-transform: translateY(0);
	-moz-transform:    translateY(0);
	-ms-transform:     translateY(0);
	-o-transform:      translateY(0);
	transform:         translateY(0);

	-webkit-transition: transform $hover-animation-time ease, box-shadow $hover-animation-time ease, height $height-animation-time ease;
	-moz-transition:    transform $hover-animation-time ease, box-shadow $hover-animation-time ease, height $height-animation-time ease;
	-ms-transition:     transform $hover-animation-time ease, box-shadow $hover-animation-time ease, height $height-animation-time ease;
	-o-transition:      transform $hover-animation-time ease, box-shadow $hover-animation-time ease, height $height-animation-time ease;
	transition:         transform $hover-animation-time ease, box-shadow $hover-animation-time ease, height $height-animation-time ease;

	&:hover {
		cursor: pointer;
		-webkit-transform: translateY(-10px);
		-moz-transform:    translateY(-10px);
		-ms-transform:     translateY(-10px);
		-o-transform:      translateY(-10px);
		transform:         translateY(-10px);

		-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
		-moz-box-shadow:    0 10px 20px rgba(0, 0, 0, .2);
		box-shadow:         0 10px 20px rgba(0, 0, 0, .2);
	}

	.custom-label {
		@extend .simple-shadow;
		background-color: $main-color-dark;
		width: 200px;
		text-align: center;
		color: white;
		font-size: 13px;
		padding: 3px 20px;
		position: absolute;
		top: 23px;
		left: -59px;
		@include rotate(-38deg);
		z-index: 10;
	}

	.picture {
		width: 100%;
		height: 200px;
		// Moldura da foto				
		padding: 0;

		> div {
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			background-color: black;
			background-image: url('../images/no-pic.png');
			transition: background-image 0.5s ease-in-out;
			position: relative;

			img {
				position: absolute;
				width: 100%;
				height: 100%;
			}

			.category {
				background-color: $main-color;
				color: white;
				padding: 5px 15px;
				position: absolute;
				left: 0;
				bottom: 0;
			}

			.icons {
				display: block;
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: right;
				background-color: rgba(#000, .5);
				color: white;
				padding-right: 15px;

				> span[name="icon"] {
					margin-right: 10px;
				}
			}
		}
	}

	.info {
		padding: 10px 15px;
		text-decoration: none;

		.title {
			font-size: 1.1em;
			display: block;
			font-family: 'Open Sans', sans-serif;
			font-weight: bold;
			text-transform: capitalize;
		}

		.subtitle {
			font-size: 1em;
			display: block;
			margin-top: 5px;
			margin-bottom: 10px;
			color: $main-color;
			// font-weight: 200;
			letter-spacing: 1px;

			i {
				color: $main-color;
			}
		}

		.description {
			font-family: 'Open Sans', sans-serif;
			font-size: .92em;
			display: block;
			line-height: 20px;
		}

		.price {
			font-size: 1.25em;
			display: block;
			margin-top: 10px;
			font-family: 'Work Sans', sans-serif;
		}
	}

	&.card-horizontal {
		height: 240px;

		.picture {			
			height: 240px;
			display: inline-block;
			max-width: 30%;

			.category {
				top: 0;
				left: 0;
				bottom: auto;
			}
		}

		.info {
			display: inline-block;
			width: 70%;
			max-width: 70%;
			height: 100%;
			position: absolute;

			.title {
				font-size: 1.4em;
			}

			.subtitle {
				margin-bottom: 10px;
			}

			.icons {
				margin: 20px;
				display: block;
				font-size: 1.1em;
				color: $main-color;

				> span {
					margin-right: 10px;					
					padding: 5px 15px;
					border: 1px solid $main-color;
					border-radius: 4px;
				}
			}

			.description {
				font-size: 1.05em;
			}

			.price {
				margin-top: 20px;
				font-size: 1.5em;
			}
		}
	}
}
