.header5 {
	background-color: white;

	.contact-stripe {
		width: 100%;
		height: 30px;
		color: white;
		background-color: $main-color-dark;
		padding: 8px 20px;

		.contato {			
			font-size: .85em;
			font-weight: 200;
			letter-spacing: 1px;
			text-align: left;			
			color: white;
			opacity: .9;

			> span {
				margin-left: 20px;

				i {
					color: white;
					// vertical-align: bottom;
					font-size: 1.2em;
					margin-right: 3px;
				}
			}
		}
	}

	.menu {
		$menu-height: 90px;

		width: 100%;
		height: $menu-height;
		background-color: white;
		color: $gray-light;
		@include box-shadow(0, 3px, 5px, rgba(#000, .2px));
		position: relative;
		z-index: 2;

		.logo {
			width: 100%;
			height: $menu-height;
			background-image: url('../images/logo.png');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		.nav-pills {
			font-size: 1.2em;
			margin-top: 25px;
			float: right;

			a {
				-webkit-transition: background-color .5s ease;
				-moz-transition:    background-color .5s ease;
				-ms-transition:     background-color .5s ease;
				-o-transition:      background-color .5s ease;
				transition:         background-color .5s ease;
			}
		}
	}

	.container-carousel {
		margin-top: 0;
	}

	#carousel-showcase {
		$height: 450px;
		height: $height;
		max-height: $height;
		overflow: hidden;

		.info {
			width: 350px;
			height: 350px;
			background-color: rgba($main-color-dark, .9);
			color: white;
			top: 50px;
			left: 15%;
			position: absolute;
			z-index: 3;
			font-family: 'Open Sans', sans-serif;
			font-size: 2em;
			text-align: center;
			padding: 15px;

			.btn.btn-default {
				color: $main-color-dark;
				position: absolute;
				width: calc(100% - 30px);
				bottom: 15px;
			}
		}

		.carousel-inner {
			overflow: hidden;
			
			.item {
				.cover {
					width: 100%;
					height: 100%;
					position: absolute;					
					background-color: rgba($main-color-dark, .3);
				}

				.picture {
					background-size: cover;
					background-position: center;
					width: 100%;
					height: $height;
				}

				&:nth-child(1) {
					.picture {
						background-image: url('../images/PN/pool-958135_1920.jpg');
					}
				}

				&:nth-child(2) {
					.picture {
						background-image: url('../images/PN/couch-1835923_1920.jpg');
					}
				}

				&:nth-child(3) {
					.picture {
						background-image: url('../images/PN/bedroom-1872196_1920.jpg');
					}
				}
			}
		}
	}

	.container-fluid {
		position: relative;
		@include box-shadow(0, -1px, 10px, rgba(#000, .4px));

		.search {
			a[data-toggle='collapse'] {
				&:after {
					content: 'Menos opções';
				}

				&.collapsed:after {
					content: 'Mais opções';
				}				
			}

			.row > div {
				&:not(.col-xs-12) {
					padding: 10px 5px;
				}				
			}

			.bootstrap-select {
				height: 46px;

				> button {
					height: 46px;
					border-radius: 6px;

					.filter-option {
						font-size: 15px;
					}
				}
			}

			input.input-lg {
				font-size: 15px;
			}

			.rzslider {
				.rz-bar {
					background-color: rgba($main-color-lighter, .5);

					&.rz-selection {
						background-color: $main-color-light;
					}
				}

				.rz-pointer {
					background-color: $main-color;
					outline: none;

					&.rz-active:after {
						background-color: $main-color-dark;
					}
				}
			}
		}
	}
}