#dummy-immobile-screen {
	width: 100vw;
	height: 100vh;
	display: block;
}

.imovel {

	.title {
		font-family: 'Open Sans', sans-serif;
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
		color: $main-color-dark;
	}

	.info {
		float: right;
		font-size: 17px;		

		span {
			margin-right: 10px;
			font-family: 'Open Sans', sans-serif;
			color: $gray-light;

			i {
				font-size: 21px;
				vertical-align: middle;
				color: $gray;
			}
		}
	}

	.pane {
		// @extend .simple-shadow;
		// @include box-shadow(0, 0, 10px, rgba(#000, .15));

		padding: 15px 0;
		background-color: white;

		&.perfil-imovel {

			.form-control {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 20px;
				}
			}

			.btn {
				margin-top: 30px;
			}

			.description {
				margin-top: 15px;
				//background-color: $main-color;
				//color: white;
			}
		}

		.interesse {
			color: $main-color-darker;
			margin-bottom: 20px;

			h3 {
				font-family: 'Open Sans', sans-serif;
				margin-top: 0;
			}
		}

		&.pane-gray {
			margin: 0;
			background-color: #eee;
			border-radius: 6px;

			h3, p {
				font-family: 'Open Sans', sans-serif;
			}

			p {
				color: $gray-light;				
			}
		}
	}

	.interesse2 {
		color: white;
		background-color: $main-color-light;
		border-radius: 6px;
		padding: 15px;

		@media(min-width: $screen-sm-min) {
			margin-left: -15px;
		}
		
		h3 {
			font-family: 'Open Sans', sans-serif;
			margin-top: 0;
		}

		.separator {
			margin: 15px -15px;
			border-bottom: 1px solid $main-color-lighter;			
		}

		ul {
			li {
				margin: 3px 0;
				font-family: 'Open Sans', sans-serif;
			}
		}
	}

	.slider-for, .slider-nav {

		.slick-prev, .slick-next {
			background-color: transparent;
			background-repeat: repeat-x;
			height: 100%;
			margin-top: 0;
			top: 0;
			opacity: .8;

			&:before {
				font-size: 30px;
				font-family: 'Glyphicons Halflings';
				text-shadow: 0 0 8px rgba(#000, .7);
			}

			&:hover {
				opacity: .8;
			}
		}

		.slick-prev {
			left: 0;

			&:before {
				content: "\e079";
			}
		}

		.slick-next {
			right: 0;

			&:before {
				content: "\e080";
			}
		}
	}

	.slider-for {
		margin-bottom: 15px;
		overflow: hidden;

		.slick-prev, .slick-next {
			width: 15%;

			-webkit-transition: margin .25s;
			-moz-transition: margin .25s;
			-ms-transition: margin .25s;
			-o-transition: margin .25s;
			transition: margin .25s;
		}

		.slick-prev {
			margin-left: -15%;
		}

		.slick-next {
			margin-right: -15%;
		}

		&:hover {
			.slick-next {
				margin-right: 0;
			}

			.slick-prev {
				margin-left: 0;
			}
		}

		$opacity: .4;
		.slick-prev {
			// background: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, $opacity) 100%);

			&:before {
				margin-left: -40px;
			}
		}

		.slick-next {
			// background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, $opacity) 100%);

			&:before {
				margin-right: -40px;
			}
		}

		.picture {
			height: 400px;
			width: auto;
			max-width: 100%;
			text-align: center;	
			// width: 100%;
			// background-size: contain;
			// background-position: center;
			// background-repeat: no-repeat;
			// background-color: #bbb;
			// background-image: url('https://wallpaperscraft.com/image/house_residential_design_beautifully_13642_1920x1080.jpg');
			// color: white;
			// font-size: 60px;			

			div {
				display: inline-block;
				height: 400px;
				max-width: 100%;
				position: relative;
				margin: 0 auto;

				.img-responsive {
					display: initial;
					width: auto;
					max-height: 100%;
					cursor: pointer;
				}

				.text {
					width: 100%;
					height: auto;
					max-height: 80px;
					padding: 3px;
					background-color: rgba(#000, .5);
					color: white;
					font-family: 'Open Sans', sans-serif;
					position: absolute;
					z-index: 10;
					bottom: -100px;
					display: block;

					@include transition(bottom .5s);

					p {
						font-size: 14px;
					}
				}

				&:hover {
					.text {
						bottom: 0;
					}
				}
			}						
		}
	}

	.slider-nav {
		$height: 80px;
		$x: 4px;

		margin-bottom: 0;

		.slick-prev, .slick-next {
			width: 7%;
			height: $height + $x;
			margin: 8px 0 10px 0;
		}

		$opacity: .4;
		.slick-prev {
			background: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, $opacity) 100%);

			&:before {
				margin-left: -5px;
			}
		}

		.slick-next {
			background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, $opacity) 100%);

			&:before {
				margin-right: -5px;
			}
		}

		.thumb {
			-webkit-box-shadow: 0 0 5px rgba(#000, .5);
			-moz-box-shadow:    0 0 5px rgba(#000, .5);
			box-shadow:         0 0 5px rgba(#000, .5);			
			-webkit-transition: all .25s;
			-moz-transition:    all .25s;
			-ms-transition:     all .25s;
			-o-transition:      all .25s;
			transition:         all .25s;
			margin: 10px;

			&.slick-center {
				margin-top: 0;
				margin-bottom: 20px;
				-webkit-box-shadow: 0 10px 15px rgba(#000, .5);
				-moz-box-shadow:    0 10px 15px rgba(#000, .5);
				box-shadow:         0 10px 15px rgba(#000, .5);
			}

			.picture {
				height: $height;
				background-size: cover;
			}
		}	
	}

	.feature-category {
		font-family: 'Open Sans', sans-serif;
	}
}

.table-immobile {
	font-family: 'Open Sans';	
	$radius: 6px;

	> thead {
		> tr {
			> th {
				background-color: $main-color;
				color: white;
				border: 1px solid $main-color;

				&:first-child {
					// border-top-left-radius: $radius;
					// border-right: none;
				}

				&:last-child {
					// border-top-right-radius: $radius;
					// border-left: none;
				}
			}
		}
	}

	> tbody {
		> tr {
			> td {
				border: 1px solid #ddd;
				color: $gray-light;
			}
		}
	}
}