.searchbar-complete {
	margin-top: 15px !important;
	margin-bottom: 30px;

	.row > div, .row > span > div {
		margin-top: 15px;
		min-height: 50px;

		&:last-child {
			min-height: auto;
		}
	}

	#expand-search {
		display: block;
		width: auto;

		&.collapse {
			display: none;

			&.in {
				display: block;
			}
		}
	}

	a[data-toggle='collapse'] {
		&:after {
			content: 'Menos opções';
		}

		&.collapsed:after {
			content: 'Mais opções';
		}				
	}

	.bootstrap-select {
		height: 46px;

		> button {
			height: 46px;
			border-radius: 6px;

			.filter-option {
				font-size: 15px;
			}
		}
	}

	input.input-lg {
		font-size: 15px;
	}

	.rzslider {
		margin-top: 30px !important;

		.rz-bar {
			background-color: rgba($main-color-lighter, .5);

			&.rz-selection {
				background-color: $main-color-light;
			}
		}

		.rz-pointer {
			background-color: $main-color;
			outline: none;

			&.rz-active:after {
				background-color: $main-color-dark;
			}
		}
	}
}