$sky-blue: #19b2e5;
$smooth-brown: #bda895;
$slime-green: #5cb667;
$paiva: #485e88;

$background-color: #eeeeee;

$main-color: $paiva;
$main-color-darker: darken($main-color, 23%);
$main-color-dark: darken($main-color, 13.5%);
$main-color-light: lighten($main-color, 13.5%);
$main-color-lighter: lighten($main-color, 20%);

$brand-primary: $main-color;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Archivo+Black|Work+Sans');

@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/compass-sass-mixins/lib/compass";

@import "utils";

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

textarea {
	resize: none;
}

body {
	padding: 0;
	// background-color: $background-color;
}

#loading {
	.logo {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin-top: 150px;
		background-image: url(' ../images/PN/logo.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		width: 600px;
		height: 400px;
	}
}

.text-sans {
	font-family: 'Open Sans', sans-serif;
}

.up-shadow {
	@include box-shadow(0, -1px, 1px, rgba(0, 0, 0, .05));
}

.simple-shadow {
	@include box-shadow(0, 0, 1px, rgba(0, 0, 0, .15));
}

.down-shadow {
	@include box-shadow(0, 1px, 1px, rgba(0, 0, 0, .15));
}

.flip-h {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.blur {
	-webkit-filter: blur(15px);
	-moz-filter:    blur(15px);
	-o-filter:      blur(15px);
	-ms-filter:     blur(15px);
	filter:         blur(15px);
}

.title-header {
	color: $gray;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid $gray;
}

.section-header {
	margin-top: 30px;

	> div {
		// margin-bottom: 10px;
		// border-bottom: 1px solid $gray;

		.control {
			float: right;
			button {
				//margin-bottom: 15px;
			}
		}

		.name {
			display: inline-block;
			margin-top: 0;
			color: $main-color-dark;
		}
	}
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
}

.condensar-rows {
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.btn {
	outline: none !important;
}

.background-gray {
	background-color: $background-color;
}

input, select, textarea, .bootstrap-select {
	&.form-control, button.bs-placeholder, .dropdown-toggle {
		outline: none !important;

		&:focus, &:active {
			outline: none !important;
			border-color: $main-color !important;
			-webkit-box-shadow: none !important;
			-moz-box-shadow:    none !important;
			box-shadow:         none !important;
		}
	}
}

.bootstrap-select  {
	&.btn-group.open .dropdown-toggle {
		border-color: $main-color !important;
	}

	.dropdown-menu.open {
		li a {
			&:focus, &:active {
				outline: none !important;
				-webkit-box-shadow: none !important;
				-moz-box-shadow:    none !important;
				box-shadow:         none !important;
			}
		}
	}
}

.double-col {
	div {
		&:first-child {
			padding-right: 5px;
		}

		&:last-child {
			padding-left: 5px;
		}
	}
}

.conteudo-nav {
	background-color: white;
	border: none;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 20px;
	min-height: 100%;
	overflow: auto;

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	@extend .down-shadow;
}

.scroll-top {
	position: fixed;
	z-index: 5;
	bottom: 70px;
	right: 70px;
	width: 60px;
	height: 60px;
	background-color: $main-color-lighter;
	border-radius: 50%;
	opacity: 0;
	transition: opacity .5s;	

	@include box-shadow(0, 2px, 5px, rgba(#000, .5));	

	&.visible {
		opacity: 1;
		cursor: pointer;
	}

	i {
		color: white;
		display: block;
		font-size: 30px;
		text-align: center;
		margin-top: 12px;
		margin-right: 1px;
	}
}

.page-header {
	$height: 230px;

	width: 100%;
	height: $height;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	color: white;
	position: relative;

	.dark-layer {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba($main-color-dark, .5);

		h1 {
			font-family: 'Archivo Black', sans-serif;
			letter-spacing: 1px;
			margin-top: 120px;
			font-size: 36px;

			@media (min-width: $screen-sm-min) {
				font-size: 56px;
				margin-top: 80px;
			}
		}

		a {
			color: white !important;
			opacity: .8;
		}
	}
}

#link-icons {
	a {
		font-family: 'Open Sans', sans-serif;
		display: block;
		padding: 15px;
		border-radius: 6px;

		i.fa {
			background-color: $main-color;
			color: white;
			border-radius: 50%;
			padding: 40px;
			width: 200px;
			height: 200px;
		}

		&:hover, &:active, &:visited, &:focus {
			text-decoration: none;
			background-color: #eee;
		}
	}
}

.bootstrap-select {
	.disabled {
		background-color: #ddd;

		&:hover {
			background-color: #eee;
		}

		&:focus, &:active {
			background-color: #ddd;	
		}
	}
}

@import "header1";
@import "header2";
@import "header3";
@import "header4";
@import "header5";
@import "footer";
@import "carousel";
@import "card";
@import "imoveis";
@import "imovel";
