.footer
	.container
		.row
			.hidden-xs.col-sm-2.col-md-3
				.logo
			.col-xs-12.col-sm-10.col-md-9
				ul.info
					li
						a(href='') Institucional
						ul.links
							li
								a(href='/') Home
							li
								a(href='/sobre') Sobre
							li
								a(href='/imoveis') Imóveis
							li
								a(href='/equipe') Equipe
							li
								a(href='/contato') Contato
					li
						a(href='') Serviços
						ul.links
							li
								a(href='') Informação
							li
								a(href='') Informação
					li
						a(href='') Contato
						ul.links
							li
								i.fa.fa-whatsapp
								span  (21) 97169-0349
							li
								i.fa.fa-phone
								span  (21) 2642-3468
							li
								i.fa.fa-envelope-o
								span  sac@pnimobiliaria.com.br