.footer
	.container
		.row
			.hidden-xs.hidden-sm.col-md-3
				.logo
			.col-xs-12.col-md-9
				ul.info
					li
						a(href='') Institucional
						ul.links
							li
								a(href='/') Home
							li
								a(href='/sobre') Sobre
							li
								a(href='/imoveis') Imóveis
							li
								a(href='/equipe') Equipe
							li
								a(href='/contato') Contato
					li
						a(href='') Simuladores
						ul.links
							li
								a(href='http://www.bb.com.br/pbb/pagina-inicial/estilo/produtos-e-servicos/credito/credito-para-financiar-imoveis/bb-credito-imobiliario---imoveis-residenciais#/') Banco do Brasil
							li
								a(href='http://www8.caixa.gov.br/siopiinternet-web/simulaOperacaoInternet.do?method=inicializarCasoUso') Caixa
							li
								a(href='https://ww3.itau.com.br/imobline/pre/simuladores_new/fichaProposta/index.aspx?IMOB_TipoBKL=&ident_bkl=') Itaú
							li
								a(href='https://pf.santander.aceservices.accenture.com/canais/?header&footer#/dados-pessoais') Santander
					li
						a(href='') Contato
						ul.links
							li
								i.fa.fa-whatsapp
								span  (21) 97169-0349
							li
								i.fa.fa-phone
								span  (21) 2642-3468
							li
								i.fa.fa-envelope-o
								span  sac@pnimobiliaria.com.br

	.futura
		a(href='http://www.futuraagencia.com.br/' target='_blank')
			i.fa.fa-cube
			|  Futura Agência