.footer
	.container
		.row
			.hidden-xs.col-sm-2.col-md-3
				.logo
			.col-xs-12.col-sm-10.col-md-9
				ul.info
					li
						a(href='') Institucional
						ul.links
							li
								a(href='') Informação
					li
						a(href='') Imóveis
						ul.links
							li
								a(href='') Informação
							li
								a(href='') Informação
							li
								a(href='') Informação
							li
								a(href='') Informação
					li
						a(href='') Serviços
						ul.links
							li
								a(href='') Informação
							li
								a(href='') Informação
					li
						a(href='') Contato
						ul.links
							li
								a(href='') Informação
							li
								a(href='') Informação