#header.header4(ng-controller='HeaderCtrl as header')
	.container-narrow
		.contact-stripe
			.container
				.contato
					span
						i.fa.fa-whatsapp
						span  (21) 99999-8888
					span
						i.fa.fa-envelope-o
						span  railander_007@hotmail.com
					span
						| CRECI: 053712F

		.menu
			.container
				.row
					.col-sm-3
						a(href='/')
							.logo
					.col-sm-9
						ul.nav.nav-pills
							li(role='presentation' name='home')
								a(href='/') Home
							
							li(role='presentation' name='sobre')
								a(href='/sobre') Sobre

							li(role='presentation' name='imoveis')
								a(href='/imoveis') Imóveis

							li(role='presentation' name='equipe')
								a(href='/equipe') Equipe

							li(role='presentation' name='contato')
								a(href='/contato') Contato

		.row.remove-margin.container-carousel(ng-show='currentPath === "/"')
			.col-xs-12(style='padding: 0')
				#carousel-showcase.carousel.slide(data-ride='carousel')
					//- Wrapper for slides
					.carousel-inner.clearfix(role='listbox')
						.item.active
							.picture
								.info
									.subtitle
										i.glyphicon.glyphicon-map-marker
										|  Teresópolis - Rio de Janeiro
									.title
										| Condomínio Jambalaia
									.description 
										| {{'Etiam pharetra diam non lobortis tempus. Nunc consectetur in ex eu sagittis. In suscipit nunc et erat interdum, a sodales purus pretium' | truncate: 200}}
									.price
										| Valor:
										strong  {{2000000 | currency : 'R$ ' : 0}}
									.more
										a.btn.btn-primary.btn-lg(href='')
											| Ver mais  
											i.fa.fa-chevron-right
						.item
							.picture
								.info
									.subtitle
										i.glyphicon.glyphicon-map-marker
										|  Teresópolis - Rio de Janeiro
									.title
										| Condomínio Jambalaia
									.description 
										| {{'Etiam pharetra diam non lobortis tempus. Nunc consectetur in ex eu sagittis. In suscipit nunc et erat interdum, a sodales purus pretium' | truncate: 200}}
									.price
										| Valor:
										strong  {{2000000 | currency : 'R$ ' : 0}}
									.more
										a.btn.btn-primary.btn-lg(href='')
											| Ver mais  
											i.fa.fa-chevron-right
						.item
							.picture
								.info
									.subtitle
										i.glyphicon.glyphicon-map-marker
										|  Teresópolis - Rio de Janeiro
									.title
										| Condomínio Jambalaia
									.description 
										| {{'Etiam pharetra diam non lobortis tempus. Nunc consectetur in ex eu sagittis. In suscipit nunc et erat interdum, a sodales purus pretium' | truncate: 200}}
									.price
										| Valor:
										strong  {{2000000 | currency : 'R$ ' : 0}}
									.more
										a.btn.btn-primary.btn-lg(href='')
											| Ver mais  
											i.fa.fa-chevron-right
					//- Controls
					span.control.left(data-target='#carousel-showcase' role='button' data-slide='prev')
						button.btn.btn-primary
							i.fa.fa-angle-left
					span.control.right(data-target='#carousel-showcase' role='button' data-slide='next')
						button.btn.btn-primary
							i.fa.fa-angle-right

	.container-fluid(ng-show='currentPath === "/"')
		.search.container.offset-top-30.offset-bottom-15
			.row
				.col-md-3
					select.selectpicker.form-control(title='Tipo' data-container='body')
						option Todos
						option Tipo1
						option Tipo2
				.col-md-3
					select.selectpicker.form-control(title='Cidade' data-container='body')
						option Todas
						option Cidade1
						option Cidade2
				.col-md-3
					select.selectpicker.form-control(title='Bairro' data-container='body')
						option Todos
						option Bairro1
						option Bairro2
				.col-md-3
					button.btn.btn-primary.btn-block.btn-lg
						i.glyphicon.glyphicon-search
						|  Pesquisar
				.col-xs-12
					#advanced-search.row.collapse
						.col-md-3
							input.form-control.input-lg(placeholder='Código')
						.col-md-3
							select.selectpicker.form-control(title='Categoria' data-container='body')
								option Tudo
								option Compra
								option Aluguel
						.col-md-3
							rzslider(rz-slider-model='sliderPrice.minValue' rz-slider-high='sliderPrice.maxValue' rz-slider-options='sliderPrice.options')
						.col-md-3
							rzslider(rz-slider-model='sliderArea.minValue' rz-slider-high='sliderArea.maxValue' rz-slider-options='sliderArea.options')
						.col-md-3
							select.selectpicker.form-control(title='Dormitórios' data-container='body')
								option Tudo
								option 1
								option 2
								option 3
								option 4+
						.col-md-3
							select.selectpicker.form-control(title='Banheiros' data-container='body')
								option Tudo
								option 1
								option 2
								option 3
								option 4+
						.col-md-3
							select.selectpicker.form-control(title='Suítes' data-container='body')
								option Sim
								option Não
						.col-md-3
							select.selectpicker.form-control(title='Garagem' data-container='body')
								option Sim
								option Não
				.col-xs-12.remove-padding
					a.collapsed.center-block.text-center(href='' data-toggle='collapse' data-target='#advanced-search')