#header.header
	.container-narrow
		.background(href='' ng-show='currentPath === "/"')
			.container
				.row
					.col-xs-12
						.title
							.row
								.col-xs-6.col-sm-3
									.logo
								.hidden-xs.col-sm-4.col-sm-offset-1.info
									a.clearfix(href='')
										i.fa.fa-empire
										strong Venha, junte-se ao Império
										span Preencha já seu formulário
								.col-xs-6.col-sm-3.col-sm-offset-1
									.contato
										i.fa.fa-whatsapp
										span (21) 99999-8888
					.col-xs-12
						.search
							ul.nav.nav-tabs(name='cliente')
								li(role='presentation')
									a(href='') Pesquisar Imóvel
							.conteudo-nav.condensar-rows
								.row
									.col-sm-3
										select.select-picker.form-control(title='Escolha o tipo do imóvel' data-container='body')
											option Casa
											option Apartamento
											option Latifúndio
											option Fazenda
									.col-sm-6
										input.form-control.input-lg(type='text' placeholder='Informe um condomínio, bairro ou cidade')
									.col-sm-3
										button.btn.btn-primary.btn-block.btn-lg
											span.glyphicon.glyphicon-search
											|  Pesquisar
		nav.navbar.navbar-default
			.container
				.navbar-header
					button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#navbar-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='' ng-show='currentPath !== "/"')
						div

				#navbar-collapse.collapse.navbar-collapse(ng-class='{"navbar-center": currentPath === "/"}')
					ul.nav.nav-pills
						li(name='home')
							a(href='/') Home
						
						li(name='sobre')
							a(href='/sobre') Sobre

						li(name='imoveis')
							a(href='/imoveis') Imóveis

						li(name='equipe')
							a(href='/equipe') Equipe

						li(name='contato')
							a(href='/contato') Contato