.page-header(style='background-image: url("https://wallpaperscraft.com/image/house_residential_design_beautifully_13642_1920x1080.jpg")')
	.dark-layer
		.container
			.row
				.col-xs-12
					h1.text-xlg Informações do Imóvel

.container.imovel.offset-top-60.offset-bottom-60
	.row
		.col-xs-12
			h1.title Título - Localização

	.row.pane.perfil-imovel
		.col-xs-12
			slick.slider-for(infinite='true' slides-to-show='1' slides-to-scroll='1' arrows='true' as-nav-for='.slider-nav')
				.picture(style='height:600px' ng-repeat='n in getNumber(10) track by $index')

			div(ng-if='imovel.ready')
				slick.hidden-xs.slider-nav(infinite='true' slides-to-show='5' slides-to-scroll='1' as-nav-for='.slider-for' center-mode='true' focus-on-select='false' responsive='imovel.responsive' arrows='false')
					.picture(style='height:120px' ng-repeat='n in getNumber(10) track by $index') {{$index + 1}}

	.row
		.col-sm-8.col-md-9
			.row.pane.pane-gray.offset-top-30
				.col-xs-12.description
					h3.text-primary Descrição do Imóvel
					p Casa dividida em 2 pavimentos, sendo pavimento inferior: sala, lavabo, escritório (podendo ser utilizado como quarto ou ampliação da sala), cozinha, área externa com área de serviço, e espaço para construção de área gourmet; e em seu pavimento superior: 2 suítes , sendo uma com varanda com vista indevassável para as montanhas.
			.row
				.col-xs-12.map
					ng-map.offset-top-30.offset-bottom-30(default-style="true" center='-22.415787,-42.971796' zoom='15' scrollwheel='false')
						marker(id='#marker' position='-22.415787,-42.971796' on-click='contato.map.showInfoWindow("#info-window")')
						info-window(id='#info-window' visible-on-marker='#marker')
							div(ng-non-bindable='')
								h4 {{'Imovel doido'}}
		.col-sm-4.col-md-3
			.interesse2
				h3.offset-bottom-30 Características
				ul.list-unstyled
					li Código do Imóvel
						i.pull-right 1001
					li Área
						i.pull-right 90m
							sup 2
					li Dormitórios
						i.pull-right 3
					li Suítes
						i.pull-right 1
					li Banheiros
						i.pull-right 2
					li Vagas
						i.pull-right 1
				.separator
				h3 Tenho Interesse
				input.form-control.offset-top-15(type='text' placeholder='Nome')
				input.form-control.offset-top-15(type='text' placeholder='Telefone')
				input.form-control.offset-top-15(type='email' placeholder='Email')
				textarea.form-control.offset-top-15(rows='5')
				button.btn.btn-primary.btn-lg.btn-block.offset-top-30
					i.fa.fa-envelope-o
					|  Enviar

card-carousel.offset-top-60(carousel-id='sliding-cards' name='Veja também' interval='5000' cards='root_imoveis')