#link-icons.container.offset-top-60.offset-botom-60
	.row
		.col-xs-12.col-sm-4.text-center.offset-top-30.offset-bottom-30
			a(href='/sobre')
				i.icon-xlg.fa.fa-users
				h3.text-md.text-light Sobre
				p.text-sm.text-gray Descubra um pouco mais sobre a gente.
		.col-xs-12.col-sm-4.text-center.offset-top-30.offset-bottom-30
			a(href='/imoveis')
				i.icon-xlg.fa.fa-home
				h3.text-md.text-light Imóveis
				p.text-sm.text-gray Pesquise por imóveis.
		.col-xs-12.col-sm-4.text-center.offset-top-30.offset-bottom-30
			a(href='/contato')
				i.icon-xlg.fa.fa-envelope-o
				h3.text-md.text-light Contato
				p.text-sm.text-gray Entre em contato com a gente.