.card(ng-class='{"card-horizontal": isHorizontal}')
	.custom-label(ng-if='labelText' ng-style='{"background-color": labelColor}')
		| {{labelText}}
	.picture
		div(ng-style='{"background-image": "url({{picture || \'../images/no-pic.png\'}})"}')
			.icons(ng-if='!isHorizontal')
				span(name='icon' data-toggle='tooltip' data-placement='top' title='2 dormitórios' ng-if='bed')
					| {{bed}}  
					i.fa.fa-bed

				span(name='icon' data-toggle='tooltip' data-placement='top' title='2 suítes' ng-if='suite')
					| {{suite}}  
					i.fa.fa-bathtub

				span(name='icon' data-toggle='tooltip' data-placement='top' title='2 banheiros' ng-if='bath')
					| {{bath}}  
					i.fa.fa-shower

				span(name='icon' data-toggle='tooltip' data-placement='top' title='2 vagas' ng-if='parking')
					| {{parking}}  
					i.fa.fa-car
	.info
		span.title {{title | truncate: (isHorizontal ? 50 : 20)}}
		span.subtitle
			i.glyphicon.glyphicon-map-marker
			|  {{subtitle}}
		.icons(ng-if='isHorizontal')
			span(name='icon' data-toggle='tooltip' data-placement='top' title='2 dormitórios' ng-if='bed')
				| {{bed}}  
				i.fa.fa-bed

			span(name='icon' data-toggle='tooltip' data-placement='top' title='2 suítes' ng-if='suite')
				| {{suite}}  
				i.fa.fa-bathtub

			span(name='icon' data-toggle='tooltip' data-placement='top' title='2 banheiros' ng-if='bath')
				| {{bath}}  
				i.fa.fa-shower

			span(name='icon' data-toggle='tooltip' data-placement='top' title='2 vagas' ng-if='parking')
				| {{parking}}  
				i.fa.fa-car
		span.description.text-gray(ng-hide='hideDescription') {{description | truncate: 140}}
		span.price.text-primary
			| Valor: {{price | currency : 'R$ ' : 0}}