#header.header3
	.container-narrow(ng-if='!!whatsapp || !!tel || !!email')
		.contact-stripe.hidden-xs
			.container
				.contato
					span(ng-if='!!whatsapp')
						i.fa.fa-whatsapp
						span  {{whatsapp}}
					span(ng-if='!!tel')
						i.fa.fa-phone
						span  {{tel}}
					span(ng-if='!!email')
						i.fa.fa-envelope-o
						span {{email}}

		.menu
			.container
				.row
					.col-sm-3
						a(href='/')
							.logo
					.col-sm-9
						ul.nav.nav-pills
							li(role='presentation' name='{{btn.nome}}' ng-repeat='btn in navButtons track by $index')
								a(ng-href='{{btn.url}}' target='{{btn.target}}') {{btn.nome}}

		.row.container-carousel(ng-show='header.getCurrentPath() == "/"')
			.col-xs-12
				#carousel-showcase.carousel.slide(data-ride='carousel')
					//- Wrapper for slides
					.carousel-inner.clearfix(role='listbox')
						.item.active
							.picture
							.info
								.subtitle
									i.glyphicon.glyphicon-map-marker
									|  Teresópolis - Rio de Janeiro
								.title
									| Condomínio Jambalaia
								.description 
									| {{'Etiam pharetra diam non lobortis tempus. Nunc consectetur in ex eu sagittis. In suscipit nunc et erat interdum, a sodales purus pretium' | truncate: 200}}
								.price
									| Valor:
									strong  {{2000000 | currency : 'R$ ' : 0}}
								.more
									a.btn.btn-primary.btn-lg(href='')
										| Ver mais  
										i.fa.fa-chevron-right
						.item
							.picture
							.info
								.subtitle
									i.glyphicon.glyphicon-map-marker
									|  Teresópolis - Rio de Janeiro
								.title
									| Condomínio Jambalaia
								.description 
									| {{'Etiam pharetra diam non lobortis tempus. Nunc consectetur in ex eu sagittis. In suscipit nunc et erat interdum, a sodales purus pretium' | truncate: 200}}
								.price
									| Valor:
									strong  {{2000000 | currency : 'R$ ' : 0}}
								.more
									a.btn.btn-primary.btn-lg(href='')
										| Ver mais  
										i.fa.fa-chevron-right
						.item
							.picture
							.info
								.subtitle
									i.glyphicon.glyphicon-map-marker
									|  Teresópolis - Rio de Janeiro
								.title
									| Condomínio Jambalaia
								.description 
									| {{'Etiam pharetra diam non lobortis tempus. Nunc consectetur in ex eu sagittis. In suscipit nunc et erat interdum, a sodales purus pretium' | truncate: 200}}
								.price
									| Valor:
									strong  {{2000000 | currency : 'R$ ' : 0}}
								.more
									a.btn.btn-primary.btn-lg(href='')
										| Ver mais  
										i.fa.fa-chevron-right
					//- Controls
					span.control.left(data-target='#carousel-showcase' role='button' data-slide='prev')
						button.btn.btn-default
							i.fa.fa-angle-left
					span.control.right(data-target='#carousel-showcase' role='button' data-slide='next')
						button.btn.btn-default
							i.fa.fa-angle-right

		.drop-shadow
			.container(ng-show='header.getCurrentPath() == "/"')
				searchbar-complete-simplified