.searchbar-complete
	.row(ng-if='searchbar.isReady')
		.col-xs-12.col-sm-6.col-md-3
			input.form-control.input-lg(placeholder='Código' ng-model='searchbar.search.codigo')

		.col-md-3.hidden-xs.hidden-sm
			select.selectpicker.form-control(title='Categoria' data-container='body' autocomplete='off' ng-model='searchbar.search.categoria')
				option(value='' disabled style='display: none') Categoria
				option(value='0') Todos
				option(value='1') Venda
				option(value='2') Aluguel
		.col-md-3.hidden-xs.hidden-sm
			select.selectpicker.form-control(title='Cidade' data-container='body' ng-model='searchbar.search.cidade')
				option(value='' disabled style='display: none') Cidade
				option(value='0') Todas
				option(ng-repeat='cidade in searchbar.filters.city' ng-value='cidade.city_id') 
					| {{cidade.city_name}}

		span#expand-search.collapse.in
			.col-xs-12.col-sm-6.hidden-md.hidden-lg
				select.selectpicker.form-control(title='Categoria' data-container='body' autocomplete='off' ng-model='searchbar.search.categoria')
					option(value='' disabled style='display: none') Categoria
					option(value='0') Todos
					option(value='1') Venda
					option(value='2') Aluguel
			.col-xs-12.col-sm-6.hidden-md.hidden-lg
				select.selectpicker.form-control(title='Cidade' data-container='body' ng-model='searchbar.search.cidade')
					option(value='' disabled style='display: none') Cidade
					option(value='0') Todas
					option(ng-repeat='cidade in searchbar.filters.city' ng-value='cidade.city_id') 
						| {{cidade.city_name}}
			.col-xs-12.col-sm-6.col-md-3
				select.selectpicker.form-control(title='Bairro' data-container='body' ng-model='searchbar.search.bairro')
					option(value='' disabled style='display: none') Bairro
					option(value='0') Todos
					option(ng-repeat='bairro in searchbar.filters.districts' ng-value='bairro.district_id')
						| {{bairro.district_name}} ({{bairro.quantity}})
			.col-xs-12.col-sm-6.col-md-3
				select.selectpicker.form-control(title='Tipo' data-container='body' ng-model='searchbar.search.tipo')
					option(value='' disabled style='display: none') Tipo
					option(value='0') Tudo
					option(ng-repeat='categoria in searchbar.filters.category' ng-value='categoria.immobile_category_id')
						| {{categoria.immobile_category_name}}
			.col-xs-12.col-sm-6.col-md-3
				rzslider(rz-slider-model='searchbar.search.minValue' rz-slider-high='searchbar.search.maxValue' rz-slider-options='searchbar.sliderPrice.options')
			.col-xs-12.col-sm-6.col-md-3
				rzslider(rz-slider-model='searchbar.search.minArea' rz-slider-high='searchbar.search.maxArea' rz-slider-options='searchbar.sliderArea.options')
			.col-xs-12.col-sm-6.col-md-3
				select.selectpicker.form-control(title='Dormitórios' data-container='body' ng-model='searchbar.search.dormitorios')
					option(value='' disabled style='display: none') Dormitórios
					option(value='0') Tudo
					option(value='1') 1 dormitório
					option(value='2') 2 dormitórios
					option(value='3') 3 dormitórios
					option(value='4') Mais de 4 dormitórios
			.col-xs-12.col-sm-6.col-md-3
				select.selectpicker.form-control(title='Banheiros' data-container='body' ng-model='searchbar.search.banheiros')
					option(value='' disabled style='display: none') Banheiros
					option(value='0') Tudo
					option(value='1') 1 banheiro
					option(value='2') 2 banheiros
					option(value='3') 3 banheiros
					option(value='4') Mais de 4 banheiros
			.col-xs-12.col-sm-6.col-md-3
				select.selectpicker.form-control(title='Suítes' data-container='body' ng-model='searchbar.search.suite')
					option(value='' disabled style='display: none') Suíte
					option(value='0') Todos
					option(value='1') Sem suíte
					option(value='2') Com suíte
			.col-xs-12.col-sm-6.col-md-3
				select.selectpicker.form-control(title='Garagem' data-container='body' ng-model='searchbar.search.garagem')
					option(value='' disabled style='display: none') Garagem
					option(value='0') Todos
					option(value='1') Sem garagem
					option(value='2') Com garagem
		.col-xs-12.col-sm-6.col-md-3
			button.btn.btn-primary.btn-block.btn-lg(ng-click='searchbar.pesquisar()')
				i.glyphicon.glyphicon-search
				|  Pesquisar
		.col-xs-12.remove-padding.visible-xs-block
			//- Texto colocado via CSS
			a.center-block.text-center(href='' data-toggle='collapse' data-target='#expand-search')