.page-header(style='background-image: url("../images/PN/Business-Negotiation-HD-Wallpaper.jpg")')
	.dark-layer
		.container
			.row
				.col-xs-12
					h1.text-xlg Nossa Equipe
			.row.hidden-xs.offset-top-30
				.col-sm-6
					p.text-sm
						a(href='/home') Home
						b &nbsp;/&nbsp;Equipe

.container.offset-top-60.offset-bottom-60
	.row
	- for(var i = 0; i < 6; i++)
		.col-xs-12.col-sm-6.col-md-4.offset-bottom-30(style='padding: 30px')
			img.img-responsive.img-circle(src='http://www.michaelemerson.net/wp-content/uploads/2012/08/michael_emerson.png' style='width: 100%')
			h3.text-primary.text-center Corretor
			p.text-sm.text-light.text-center sac@pnimobiliaria.com.br

card-carousel.offset-top-60(carousel-id='sliding-cards' name='Veja também' interval='5000' cards='root_imoveis')