// Carousel
//- .container.offset-top-60.offset-bottom-60
	div(ng-include='"partials/carousel.html"')

// Cards Carousel
card-carousel(carousel-id='sliding-cards' name='Mais visitados' interval='5000' cards='home.imoveis')

// Circle Icons
div(ng-include='"partials/link-icons.html"')

// Card Grid
card-grid(cards='home.imoveis' name='O patrão ficou maluco!')