// Cards Carousel
card-carousel(carousel-id='sliding-cards' name='Destaques' interval='5000' cards='home.featuredList')

// Circle Icons
div(ng-include='"partials/link-icons.html"')

// Card Grid
card-grid(cards='home.lastOnes' name='Últimos cadastrados')