.page-header(style='background-image: url("https://wallpaperscraft.com/image/paris_building_road_night_traffic_30814_1920x1080.jpg")')
	.dark-layer
		.container
			.row
				.col-xs-12
					h1.text-xlg Pesquisar Imóveis

.container.search-filters.offset-top-15.offset-bottom-15(ng-controller='SearchBarCtrl as searchBar')
	.row
		.col-md-3
			input.form-control.input-lg(placeholder='Código')
		.col-md-3
			select.selectpicker.form-control(title='Tipo' data-container='body')
				option Todos
				option Tipo1
				option Tipo2
		.col-md-3
			select.selectpicker.form-control(title='Cidade' data-container='body')
				option Todas
				option Cidade1
				option Cidade2
		.col-md-3
			select.selectpicker.form-control(title='Bairro' data-container='body')
				option Todos
				option Bairro1
				option Bairro2				
		.col-md-3
			select.selectpicker.form-control(title='Categoria' data-container='body')
				option Tudo
				option Compra
				option Aluguel
		.col-md-3
			select.selectpicker.form-control(title='Dormitórios' data-container='body')
				option Tudo
				option 1
				option 2
				option 3
				option 4+
		.col-md-3
			select.selectpicker.form-control(title='Banheiros' data-container='body')
				option Tudo
				option 1
				option 2
				option 3
				option 4+
		.col-md-3
			select.selectpicker.form-control(title='Suítes' data-container='body')
				option Sim
				option Não
		.col-md-3
			select.selectpicker.form-control(title='Garagem' data-container='body')
				option Sim
				option Não
		.col-md-3
			rzslider(rz-slider-model='searchBar.sliderPrice.minValue' rz-slider-high='searchBar.sliderPrice.maxValue' rz-slider-options='searchBar.sliderPrice.options')
		.col-md-3
			rzslider(rz-slider-model='searchBar.sliderArea.minValue' rz-slider-high='searchBar.sliderArea.maxValue' rz-slider-options='searchBar.sliderArea.options')
		.col-md-3
			button.btn.btn-primary.btn-block.btn-lg
				i.glyphicon.glyphicon-search
				|  Pesquisar

.background-gray
	.container
		.row
			.col-md-3.filters
				- var filtro1 = 'cabrunco'
				.panel.panel-primary(name=filtro1)
					.panel-heading
						a(href='' data-toggle='collapse' data-target='.panel[name="' + filtro1 + '"] .collapse')
							| Filtro 1
					.collapse
						.panel-body
							.checkbox
								label
									input(type='checkbox') 
									| Forévis
							.checkbox
								label
									input(type='checkbox') 
									| Cachorro
							.checkbox
								label
									input(type='checkbox') 
									| Hadouken

				- var filtro2 = 'james'
				.panel.panel-primary.simple-shadow(name=filtro2)
					.panel-heading
						a(href='' data-toggle='collapse' data-target='.panel[name="' + filtro2 + '"] .collapse')
							| Filtro 2
					.collapse
						.panel-body
							.checkbox
								label
									input(type='checkbox') 
									| Forévis
							.checkbox
								label
									input(type='checkbox') 
									| Cachorro
							.checkbox
								label
									input(type='checkbox') 
									| Hadouken
				
			.col-md-9
				card-list(cards='imoveis.cardList' name='Resultados' ng-if='imoveis.cardList.length')