.page-header(style='background-image: url("../images/PN/paris_building_road_night_traffic_30814_1920x1080.jpg")')
	.dark-layer
		.container
			.row
				.col-xs-12
					h1.text-xlg Pesquisar Imóveis
			.row.hidden-xs.offset-top-30
				.col-sm-6
					p.text-sm
						a(href='/home') Home
						b &nbsp;/&nbsp;Imóveis

.container
	searchbar-complete

.background-gray
	.container(ng-if='!imoveis.cardList.length')
		.no-results
			.text
				i.fa.fa-home.icon-xlg
				h2 Nenhum resultado.
				h3 Tente remover alguns filtros.
	.container(ng-if='imoveis.cardList.length')
		.row
			.hidden-xs.col-sm-4.col-md-3.filters(style='position: relative')
				.container-doido
					.panel.panel-primary.simple-shadow(name='Ordenação')
						.panel-heading
							a(href='' data-toggle='collapse' data-target='.panel[name="Ordenação"] .collapse')
								| Ordenação
						.collapse.in
							.panel-body
								div(ng-init='menorArea={column: 6, order: 1}')
									a(href='' style='display: block' ng-click='imoveis.setFiltro("order", menorArea)' ng-class='{"text-bold text-uppercase": imoveis.getFiltros().order.column == menorArea.column && imoveis.getFiltros().order.order == menorArea.order}')
										i.fa.fa-sort-amount-asc
										|  Menor área
								div(ng-init='maiorArea={column: 6, order: 0}')
									a(href='' style='display: block' ng-click='imoveis.setFiltro("order", maiorArea)' ng-class='{"text-bold text-uppercase": imoveis.getFiltros().order.column == maiorArea.column  && imoveis.getFiltros().order.order == maiorArea.order}')
										i.fa.fa-sort-amount-desc
										|  Maior área
								div(ng-init='menorValor={column: 3, order: 1}')
									a(href='' style='display: block' ng-click='imoveis.setFiltro("order", menorValor)' ng-class='{"text-bold text-uppercase": imoveis.getFiltros().order.column == menorValor.column && imoveis.getFiltros().order.order == menorValor.order}')
										i.fa.fa-sort-numeric-asc
										|  Menor valor
								div(ng-init='maiorValor={column: 3, order: 0}')
									a(href='' style='display: block' ng-click='imoveis.setFiltro("order", maiorValor)' ng-class='{"text-bold text-uppercase": imoveis.getFiltros().order.column == maiorValor.column && imoveis.getFiltros().order.order == maiorValor.order}')
										i.fa.fa-sort-numeric-desc
										|  Maior valor
								div(ng-init='maisRecentes={column: 0, order: 0}')
									a(href='' style='display: block' ng-click='imoveis.setFiltro("order", maisRecentes)' ng-class='{"text-bold text-uppercase": imoveis.getFiltros().order.column == maisRecentes.column && imoveis.getFiltros().order.order == maisRecentes.order}')
										i.fa.fa-clock-o
										|  Mais recentes

					.panel.panel-primary.simple-shadow(name='Dormitórios')
						.panel-heading
							a(href='' data-toggle='collapse' data-target='.panel[name="Dormitórios"] .collapse')
								| Dormitórios
						.collapse.in
							.panel-body
								div(style='display: block' ng-repeat='d in imoveis.resumo.bedroom track by $index')
									a(href='' ng-click='imoveis.setFiltro("bedroom", d.filter)' ng-class='{"text-bold text-uppercase": d.filter == imoveis.getFiltros().dormitorios}')
										| {{d.filter == 4 ? 'Mais de' : ''}} {{d.filter == 0 ? 'Sem' : d.filter}} {{d.filter == 1 ? 'dormitório' : 'dormitórios'}} ({{d.count}})
										span(ng-if='d.filter == imoveis.getFiltros().dormitorios')
											| &nbsp;
											i.fa.fa-remove

					.panel.panel-primary.simple-shadow(name='Banheiros')
						.panel-heading
							a(href='' data-toggle='collapse' data-target='.panel[name="Banheiros"] .collapse')
								| Banheiros
						.collapse.in
							.panel-body
								div(style='display: block' ng-repeat='b in imoveis.resumo.bathroom track by $index')
									a(href='' ng-click='imoveis.setFiltro("bathroom", b.filter)' ng-class='{"text-bold text-uppercase": b.filter == imoveis.getFiltros().banheiros}')
										| {{b.filter == 4 ? 'Mais de' : ''}} {{b.filter == 0 ? 'Sem' : b.filter}} {{b.filter == 1 ? 'banheiro' : 'banheiros'}} ({{b.count}})
										span(ng-if='b.filter == imoveis.getFiltros().banheiros')
											| &nbsp;
											i.fa.fa-remove

					.panel.panel-primary.simple-shadow(name='Suíte')
						.panel-heading
							a(href='' data-toggle='collapse' data-target='.panel[name="Suíte"] .collapse')
								| Suíte
						.collapse.in
							.panel-body
								div(style='display: block' ng-repeat='s in imoveis.resumo.suite track by $index')
									a(href='' ng-click='imoveis.setFiltro("suite", s.filter)' ng-class='{"text-bold text-uppercase": s.filter == imoveis.getFiltros().suite}')
										| {{s.filter == 1 ? 'Sem suíte' : 'Com suíte'}} ({{s.count}})
										span(ng-if='s.filter == imoveis.getFiltros().suite')
											| &nbsp;
											i.fa.fa-remove

					.panel.panel-primary.simple-shadow(name='Garagem')
						.panel-heading
							a(href='' data-toggle='collapse' data-target='.panel[name="Garagem"] .collapse')
								| Garagem
						.collapse.in
							.panel-body
								div(style='display: block' ng-repeat='g in imoveis.resumo.parking_spot track by $index')
									a(href='' ng-click='imoveis.setFiltro("parking_spot", g.filter)' ng-class='{"text-bold text-uppercase": g.filter == imoveis.getFiltros().garagem}')
										| {{g.filter == 1 ? 'Sem garagem' : 'Com garagem'}} ({{g.count}})
										span(ng-if='g.filter == imoveis.getFiltros().garagem')
											| &nbsp;
											i.fa.fa-remove
				
			.col-xs-12.col-sm-8.col-md-9
				card-list(cards='imoveis.cardList' name='{{imoveis.pagination.getLabelResultado()}}' is-grid='false' ng-if='imoveis.cardList.length')
				.col-xs-12
					nav.pull-right.offset-top-30(ng-show='imoveis.pagination.totalItems > imoveis.pagination.itemsPerPage')
						ul.pagination
							li(title='primeira' ng-class='{"disabled": imoveis.pagination.index == 0}')
								a(href='' ng-click='imoveis.pagination.goTo(0)') 
									i.fa.fa-angle-double-left
							li(title='anterior' ng-class='{"disabled": imoveis.pagination.index == 0}')
								a(href='' ng-click='imoveis.pagination.goTo(imoveis.pagination.index - 1)') 
									i.fa.fa-angle-left
							li(ng-repeat='n in getNumber(imoveis.pagination.getPageAmount()) track by $index' ng-class='{"active": $index == imoveis.pagination.index, "display-none": imoveis.pagination.hidePage($index)}')
								a(href='' ng-click='imoveis.pagination.goTo($index)')
									span {{$index + 1}}
							li(title='seguinte' ng-class='{"disabled": imoveis.pagination.index >= imoveis.pagination.getPageAmount() - 1}')
								a(href='' ng-click='imoveis.pagination.goTo(imoveis.pagination.index + 1)')
									i.fa.fa-angle-right
							li(title='última' ng-class='{"disabled": imoveis.pagination.index >= imoveis.pagination.getPageAmount() - 1}')
								a(href='' ng-click='imoveis.pagination.goTo(imoveis.pagination.getPageAmount() - 1)')
									i.fa.fa-angle-double-right