.page-header(style='background-image: url("../images/PN/paris_building_road_night_traffic_30814_1920x1080.jpg")')
	.dark-layer
		.container
			.row
				.col-xs-12
					h1.text-xlg Pesquisar Imóveis
			.row.hidden-xs.offset-top-30
				.col-sm-6
					p.text-sm
						a(href='/home') Home
						b &nbsp;/&nbsp;Imóveis

.container.search-filters.offset-bottom-30(ng-controller='SearchBarCtrl as searchBar')
	.row
		.col-xs-12.col-sm-6.col-md-3
			input.form-control.input-lg(placeholder='Código' ng-model='searchBar.search.codigo')

		.col-md-3.hidden-xs.hidden-sm
			select.selectpicker.form-control(title='Tipo' data-container='body' autocomplete='off' ng-model='searchBar.search.tipo')
				option(value='' disabled style='display: none') Tipo
				option(value='0') Todos
				option(value='1') Tipo1
				option(value='2') Tipo2
		.col-md-3.hidden-xs.hidden-sm
			select.selectpicker.form-control(title='Cidade' data-container='body' ng-model='searchBar.search.cidade')
				option(value='' disabled style='display: none') Cidade
				option Todas
				option Cidade1
				option Cidade2

		span#expand-search.collapse.in
			.col-xs-12.col-sm-6.hidden-md.hidden-lg
				select.selectpicker.form-control(title='Tipo' data-container='body' autocomplete='off' ng-model='searchBar.search.tipo')
					option(value='' disabled style='display: none') Tipo
					option(value='0') Todos
					option(value='1') Tipo1
					option(value='2') Tipo2
			.col-xs-12.col-sm-6.hidden-md.hidden-lg
				select.selectpicker.form-control(title='Cidade' data-container='body' ng-model='searchBar.search.cidade')
					option(value='' disabled style='display: none') Cidade
					option Todas
					option Cidade1
					option Cidade2
			.col-xs-12.col-sm-6.col-md-3
				select.selectpicker.form-control(title='Bairro' data-container='body' ng-model='searchBar.search.bairro')
					option(value='' disabled style='display: none') Bairro
					option Todos
					option Bairro1
					option Bairro2	
			.col-xs-12.col-sm-6.col-md-3
				select.selectpicker.form-control(title='Categoria' data-container='body' ng-model='searchBar.search.categoria')
					option(value='' disabled style='display: none') Categoria
					option Tudo
					option Compra
					option Aluguel
			.col-xs-12.col-sm-6.col-md-3
				rzslider(rz-slider-model='searchBar.search.sliderPrice.minValue' rz-slider-high='searchBar.search.sliderPrice.maxValue' rz-slider-options='searchBar.search.sliderPrice.options')
			.col-xs-12.col-sm-6.col-md-3
				rzslider(rz-slider-model='searchBar.search.sliderArea.minValue' rz-slider-high='searchBar.search.sliderArea.maxValue' rz-slider-options='searchBar.search.sliderArea.options')
			.col-xs-12.col-sm-6.col-md-3
				select.selectpicker.form-control(title='Dormitórios' data-container='body' ng-model='searchBar.search.dormitorios')
					option(value='' disabled style='display: none') Dormitórios
					option Tudo
					option 1 dormitório
					option 2 dormitórios
					option 3 dormitórios
					option 4+ dormitórios
			.col-xs-12.col-sm-6.col-md-3
				select.selectpicker.form-control(title='Banheiros' data-container='body' ng-model='searchBar.search.banheiros')
					option(value='' disabled style='display: none') Banheiros
					option Tudo
					option 1 banheiro
					option 2 banheiros
					option 3 banheiros
					option 4+ banheiros
			.col-xs-12.col-sm-6.col-md-3
				select.selectpicker.form-control(title='Suítes' data-container='body' ng-model='searchBar.search.suites')
					option(value='' disabled style='display: none') Suíte
					option Com suíte
					option Sem suíte
			.col-xs-12.col-sm-6.col-md-3
				select.selectpicker.form-control(title='Garagem' data-container='body' ng-model='searchBar.search.garagem')
					option(value='' disabled style='display: none') Garagem
					option Com garagem
					option Sem garagem
		.col-xs-12.col-sm-6.col-md-3
			button.btn.btn-primary.btn-block.btn-lg(ng-click='searchBar.pesquisar()')
				i.glyphicon.glyphicon-search
				|  Pesquisar
		.col-xs-12.remove-padding.visible-xs-block
			//- Texto colocado via CSS
			a.center-block.text-center(href='' data-toggle='collapse' data-target='#expand-search')

.background-gray
	.container
		.row
			.col-md-3.filters
				- var filtro1 = 'cabrunco'
				.panel.panel-primary(name=filtro1)
					.panel-heading
						a(href='' data-toggle='collapse' data-target='.panel[name="' + filtro1 + '"] .collapse')
							| Filtro 1
					.collapse
						.panel-body
							.checkbox
								label
									input(type='checkbox') 
									| Forévis
							.checkbox
								label
									input(type='checkbox') 
									| Cachorro
							.checkbox
								label
									input(type='checkbox') 
									| Hadouken

				- var filtro2 = 'james'
				.panel.panel-primary.simple-shadow(name=filtro2)
					.panel-heading
						a(href='' data-toggle='collapse' data-target='.panel[name="' + filtro2 + '"] .collapse')
							| Filtro 2
					.collapse
						.panel-body
							.checkbox
								label
									input(type='checkbox') 
									| Forévis
							.checkbox
								label
									input(type='checkbox') 
									| Cachorro
							.checkbox
								label
									input(type='checkbox') 
									| Hadouken
				
			.col-md-9
				card-list(cards='imoveis.cardList' name='Resultados' ng-if='imoveis.cardList.length')