.page-header(style='background-image: url("../images/PN/Business-HD-Wallpaper.jpg")')
	.dark-layer
		.container
			.row
				.col-xs-12
					h1.text-xlg Sobre a Empresa
			.row.hidden-xs.offset-top-30
				.col-sm-6
					p.text-sm
						a(href='/home') Home
						b &nbsp;/&nbsp;Sobre

.container
	.row.offset-top-60.offset-bottom-60
		.col-xs-12
			h1.text-lg.offset-bottom-60 Sobre

			div
				p.open-sans.text-sm.text-gray.offset-bottom-15.text-line-spacing
					| O Grupo Paiva Corretora e Imobiliária é especializado em compra, venda, consultoria para financiamentos, administração de reformas, seguros em geral.
				p.open-sans.text-sm.text-gray.offset-bottom-15.text-line-spacing
					| A iniciativa dos nossos negócios partiu da visão de um atendimento mais pessoal e menos capitalista, proporcionando aos nossos clientes um investimento seguro, sólido e lucrativo.
				p.open-sans.text-sm.text-gray.offset-bottom-15.text-line-spacing
					| Nosso foco de um atendimento diferenciado visa em primeiro lugar, localizar o imóvel desejado, nas condições necessárias para a compra, incluindo assessoria no designer de interior do imóvel, área em que dispomos de varias parcerias com lojas de renome no mercado, e também na execução de obras e reformas.
				p.open-sans.text-sm.text-gray.offset-bottom-15.text-line-spacing
					| Nossa venda encerra quando nosso cliente está instalado em sua nova residência ou comercio. Com uma equipe formada por profissionais de consultoria jurídica de alto gabarito acompanhamos os tramites de documentos e legalizações. 
				p.open-sans.text-sm.text-gray.offset-bottom-15.text-line-spacing
					| Assim é o Grupo Paiva Corretora e Imobiliária, trabalhando e pensando na realização do seu sonho.

card-carousel.offset-top-60(carousel-id='sliding-cards' name='Veja também' interval='5000' cards='sobre.array' ng-if='sobre.array.length')